    @import url('https://fonts.googleapis.com/css?family=Prompt:400,500');
    body {
        font-family: 'Prompt' !important;
    }
    /* Orveride Toaster JS */
    
    span.required {
        color: red;
        font-size: 14px;
    }
    
    .jq-toast-single,
    .jq-toast-single h2 {
        font-family: 'Prompt' !important;
    }
    
    .badge {
        background-color: #3c8dbc !important;
    }
    
    .nav-tabs-admin {
        margin: -20px -16px 0 -16px !important;
    }
    
    .nav-tabs-admin a {
        /* font-size: 18px; */
        color: #000;
    }
    
    .login-logo a:hover {
        color: #000;
        text-decoration: none;
    }
    
    .action .btn {
        margin-bottom: 5px;
    }
    
    .action-users .btn {
        float: right;
        margin: 5px;
    }
    
    .tab-content {
        padding-top: 30px;
    }
    
    @media (min-width: 768px) {
        .control-label {
            text-align: right;
            margin-bottom: 0;
            padding-top: 9px;
        }
    }
    
    @media (max-width: 767px) {
        .mentioned-subpage {
            text-align: center;
        }
    }
    
    .user-avatar {
        max-width: 50px;
    }
    
    .text-active {
        color: green;
    }
    
    .text-deactive {
        color: #CCC;
    }
    
    .item-create {
        text-align: right
    }
    
    span.privileges {
        margin: 0 10px 10px 0;
        padding: 5px 10px 3px 10px;
    }
    
    span.privileges>label {
        cursor: pointer;
    }
    
    img.user-avatar-blank {
        max-width: 100%;
    }
    
    .content-header {
        margin-left: 20px;
        margin-bottom: 15px;
    }
    
    .pageinfo>span:nth-child(1) {
        display: inline-block;
        float: left;
    }
    
    .pageinfo>span:nth-child(2) {
        display: inline-block;
        float: right;
    }
    
    .jq-toast-wrap {
        /* opacity: 0.9; */
    }
    
    .jq-icon-info {
        color: #FFF !important;
    }
    
    .created-set {
        font-size: 12px;
    }
    
    p#user-name-display {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        width: 150px;
    }
    
    .textDeactive {
        color: #AAA;
    }
    
    .img-article-thumbnail {
        width: 100%;
        max-width: 50px;
    }
    
    .tile {
        position: relative;
        background: #ffffff;
        border-radius: 3px;
        padding: 20px;
        -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
        margin-bottom: 30px;
        -webkit-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }
    
    .content-header>.breadcrumb {
        top: 50px;
        left: 14px;
    }
    
    .form-group {
        margin-bottom: 15px;
        border-top: 1px solid #ededed;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    
    .form-group:first-child {
        border-top: none;
    }
    
    .close {
        font-family: Arial, Helvetica, sans-serif;
    }
    
    .panel-body {
        padding: 15px 30px;
    }
    
    span[data-toggle="tooltip"]:after,
    label.control-label span:after {
        font-family: FontAwesome;
        color: #1E91CF;
        content: "\f059";
        margin-left: 4px;
    }
    
    .required label>span {
        color: #FF0000;
    }
    
    .article-category.badge {
        opacity: 0.6;
        background: #5cb85c !important;
        border-color: #4cae4c !important;
        font-size: 16px;
        padding: 10px 15px 8px 15px;
    }
    
    .article-category input[type="checkbox"] {
        display: none;
    }
    
    .user-panel>.image img {
        width: 45px;
        height: 45px;
    }
    
    .filemanager-unauthorized {
        text-align: center;
        padding: 30px;
        font-size: 24px;
        border: none;
    }
    
    .form-control-feedback {
        top: 15px !important;
    }